@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

.navbar
{
  z-index: 3;
  position:fixed;
  background-color: rgba(0, 0, 0, 0.281);
  backdrop-filter: blur(5px);
  margin-top: 0;
  padding-right: 130px;

  
}
.navbar-brand 
{
  
  color: white;
  font-size: 30px;
}
.c
{

  margin-left: 0;
}
.logo
{
  margin-left: 70px;
  height:60px;
  width:60px;
}
.hyperl
{ 
  margin-left: 700px;
}
.nav-link
{
  color: white;
  font-size: 20px;
}
.nav-link:hover,
.navbar-brand:hover {
  color: white;
  
}
li.nav-item
{
  padding-right: 20px;
  padding-left: 20px;
  transition: all 0.4s ease;
 

}
li.nav-item:hover
{
  background-color: rgba(255, 255, 255, 0.384);
  transition: all 0.4s ease;
}


.header {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.headerpages {
  min-height: 10vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}


#header-text {
  position: absolute;
  bottom: 0;
  top: 85px;
  left: 0;
  right: 0;
  display: inline;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#header-text h1 {
  margin-bottom: 40px;
  font-weight: 100px;
  font-size: 45px;
}

#header-text h2 {
  margin-top: 40px;
  margin-bottom: 100px;
}

#about h1{
  font-family: 'Montserrat', sans-serif;
}
#about p {
  font-family: 'Roboto', sans-serif;
}
#contact h1{
  font-family: 'Montserrat', sans-serif;
}
.contact-link {
  color: grey;
  font-size: 30px;
  margin: 10px;
}
.box1
{  
  background-color: whitesmoke;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}
#contact-div {
  color: white;
}
#footer {
  color: white;
  background-color: rgb(2, 2, 82);
}
#team-table h1 {
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
#team-table h4 {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}
#team-table h5{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
}
.img {
  margin: 2em 0;
}